---
layout: page
title: Jules Boussekeyt
my_github: https://github.com/gordonslondon
socials:
  - type: twitter
    username: gordonslondon
    url: "http://twitter.com/gordonslondon"
  - type: github
    username: gordonslondon
    url: "http://github.com/gordonslondon"
  - type: linkedin
    username: julesboussekeyt
    url: "http://www.linkedin.com/in/julesboussekeyt"
projects:
  - name: SimpleFramwork
    description: Simplest PHP Framework
  - name: Oklit
    description: PHP Blogging Platform - Markdown rendering, filesystem, upload, backup
  - name: Gibot
    description: Have a Github robot helping you in your OSS work
---

<div class="profile">
    <div class="profile-img">
        <img alt="gordonslondon" src="/assets/images/me.jpg" width="140">
    </div>
    <div class="profile-text">
        <p>
            Welcome, I'm Jules a passionate web developer. You're reading a blog about Javascript,
            Symfony2 and scalabilty.<br>
        </p>
         <p>
            I'm a technical consultant and looking for PHP/Javascript missions.<br>
            You can contact me at <a href="#" id="eliam"></a>.
        </p>
    </div>
</div>

<div class="icons" style="">
    {% for link in page.socials %}
        <div class="icon">
            <a href="{{ link.url }}">
                <img src="/assets/images/{{ link.type }}-icon.png" alt="{{ link.type }} {{ link.username }}">
                <span>@{{ link.username }}</span>
            </a>
        </div>
    {% endfor %}
</div>

<div class="projects">
    <h3>My open-source projects</h3>

    <ul>
        {% for project in page.projects %}
            <li>
                <a href="{{ project.link }}" target="_blank">{{ project.name }}</a>: {{ project.description }}
            </li>
        {% endfor %}
    </ul>
</div>

<script>
  document.getElementById('eliam').innerHTML = ['jules', 'boussekeyt'].join('.') + '@' + ['gmail', 'com'].join('.')
</script>
