<footer>
    <nav>
        <ul>
            <li><span>©2010-2012</span></li>
            <li><a class="link" href="/hire.html">Hire me</a></li>
            <li><a class="link" href="/feed.xml">RSS</a></li>
            <li><a target="_blank" class="link" href="https://plus.google.com/118364171247567269035?rel=author">Google+</a></li>
            <li><a target="_blank" class="link" href="https://twitter.com/gordonslondon">Twitter</a></li>
        </ul>
    </nav>
    <p>
        <mark>
            <a target="_blank" href="http://github.com/gordonslondon/jules.boussekeyt.org">source code</a>
        </mark>
    </p>
</footer>
<script>
    var readyStateCheckInterval = setInterval(function() {
        if (document.readyState === 'complete') {
            clearInterval(readyStateCheckInterval)

            var links = document.querySelectorAll('.article a')

            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf('mailto') === -1) {
                    links[i].target = '_blank'
                }
            }
        }
    }, 10)
</script>

