<footer>
    <nav>
        <ul>
            <li><span>©2010-2012</span></li>
            <li><a class="link" href="/hire.html">Hire me</a></li>
            <li><a class="link" href="/feed.xml">RSS</a></li>
            <li><a target="_blank" class="link" href="https://plus.google.com/118364171247567269035?rel=author">Google+</a></li>
            <li><a target="_blank" class="link" href="https://twitter.com/grdnlndn">Twitter</a></li>
        </ul>
    </nav>
    <p>
        <mark>
            <a target="_blank" href="http://github.com/grdnlndn/jules.boussekeyt.org">source code</a>
        </mark>
    </p>
</footer>
<script>
    var readyStateCheckInterval = setInterval(function() {
        if (document.readyState === 'complete') {
            clearInterval(readyStateCheckInterval)

            var links = document.querySelectorAll('.article.content a')

            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf('mailto') === -1) {
                    links[i].target = '_blank'
                }
            }

           var links = document.querySelectorAll('.article.content a.source-btn')

            for (var i = 0; i < links.length; i++) {
                if (links[i].href.indexOf('mailto') === -1) {
                    links[i].href = 'view-source:' + links[i].href
                }
            }

        }
    }, 10)
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
