<footer>
    <nav>
        <ul>
            <li><span>©2010-2012</span></li>
            <li><a class="link" href="/about.html">Jules Boussekeyt</a></li>
            <li><a class="link" href="/feed.xml">RSS</a></li>
            <li><a target="_blank" class="link" href="//plus.google.com/118364171247567269035?rel=author">Google+</a></li>
        </ul>
    </nav>
    <p>
        <mark>
            <a target="_blank" href="http://github.com/gordonslondon/jules.boussekeyt.org">source code</a>
        </mark>
    </p>
</footer>
