<!doctype html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="root">

            {% include header.html %}

            <section class="tag-{{ page.tags[0] }}">

                <hgroup class="hgroup">
                    <h1>{{ page.title }}</h1>
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date_to_string }}</time>
                </hgroup>

                <article class="article content">
                    {{ content }}
                </article>

                <article class="article post-bottom">

                    <div class="meta-box">
                        <p>
                        <strong>Thanks for reading,</strong><br/>
                            In the mean time you can follow me on twitter
                                <a href="https://twitter.com/grdnlndn" class="twitter-follow-button"
                                    data-show-count="false"
                                    data-lang="en"
                                ></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            <br/>
                            If you found a typo, please 
                            <a href="http://github.com/grdnlndn/jules.boussekeyt.org/edit/master/_posts/{{ page.date | date: '%Y-%m-%d' }}-{{ page.url | split: '/' | last | replace: '.html', '' }}.md">
                                fork and edit this post
                            </a>.
                        </p>

                    </div>


                    <div class="share-box">
                        <ul>
                            <li>
                                <a href="https://twitter.com/share" class="twitter-share-button"
                                    data-lang="en"
                                    data-count="horizontal"
                                    data-text="{{ page.title }}"
                                    data-via="grdnlndn"
                                >Tweet</a>
                                <script>!function(d,s,id ){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </li>

                            <li>
                                <div class="g-plus" data-action="share" data-annotation="bubble"></div>

                                <script type="text/javascript">
                                    (function() {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </li>
                        </ul>
                    </div>

                </article>

            </section>

            {% include footer.html %}
        </div>

    </body>
</html>

